body, html {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    padding: 10px;
}

.logo {
    height: 30px;
    width: 100%;
}

.input-group {
    width: 100%;
    max-width: 600px;
}

.input-group .form-control {
    padding-left: 20px;
}

.input-group-append {
    position: absolute;
    right: 5px;
    border: transparent;
}

.btn-outline-secondary {
    border: transparent;
}

.options-bar {
    overflow-x: auto;
}

.option-link {
    display: inline-block;
    margin-right: 16px;
    color: #5f6368;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
}

.option-link.active {
    color: #202124;
    border-bottom: 3px solid #4285f4;
}

.main-container {
    padding-left: 0; /* Removes padding from the left */
    margin-left: 8rem; /* Removes margin from the left */
}


.results-section {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.information-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.information-card .profile-pic {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0 auto 20px;
}

@media (max-width: 768px) {
    .logo {
        height: 24px;
    }

    .input-group {
        max-width: none;
    }

    .input-group .form-control, .input-group-append .btn {
        font-size: 14px;
    }


    .main-container {
            padding-left: 0;
            margin-left: 0;
        }
    }
